extends ./layout.jade
block contenido
		div(class="row")
			div(class="col-md-4" style="position:absolute;left:34%;top:20%;")
				div(class="panel panel-default")
					div(class="panel-heading")
						h3 Iniciar Sesi칩n
					div(class="panel-body")
						form(action="/login",method="POST")
							div(class="form-group")
							div
								label(for="username") Nombre de usuario
								input(type="text",name="username",placeholder="Correo 칩 Nombre de Usuario", id="username",class="form-control")
							div
								label(for="password") Contrase침a
								input(type="password",name="password",placeholder="contrase침a", id="password",class="form-control")
								br
								input(type="submit" value="Enviar" class="btn btn-info")
								a(href="/registro" class="btn btn-default pull-right") Crear cuenta
